.git
.env
.env.*
.venv
.venv-iac
venv
dataset
frontend
tests
docs
output
reports
exports
*.pdf
.aws-sam
.pytest_cache
.mypy_cache
.ruff_cache
*.log
**/__pycache__
**/*.duckdb
**/*.csv
**/*.xlsx
**/*.pptx
